In [6]:
import pandas as pd
d= {'rpn': ['pn1', 'pn2', 'pn3', 'pn1', 'pn4', 'pn5', 'pn6', 'pn5'],
'ipn': ['pn2', 'pn3', 'pn1', 'pn4', 'pn2', 'pn6', 'pn5', 'pn7']}
l = {}
def for_loop(ll):
    for i in ll:
        l[i] = ll
def mapped(x):
    if x[0] in l.keys():
        ll = l[x[0]]
        ll.add(x[1])
        l[x[0]] = ll
        for_loop(ll)
    else:
        ll = {(x[0])}
        ll.add(x[1])
        l[x[0]] = ll
        for_loop(ll)
    if x[1] in l.keys():
        ll = l[x[1]]
        ll.add(x[0])
        l[x[1]] = ll
        for_loop(ll)
    else:
        ll = {(x[1])}
        ll.add(x[0])
        l[x[1]] = ll
        for_loop(ll)
    return ll
df = pd.DataFrame(data=d, columns=['rpn', 'ipn'])
df['related_pn'] = df.apply(mapped, axis=1)
df

   rpn  ipn            related_pn
0  pn1  pn2  {pn1, pn3, pn2, pn4}
1  pn2  pn3  {pn1, pn3, pn2, pn4}
2  pn3  pn1  {pn1, pn3, pn2, pn4}
3  pn1  pn4  {pn1, pn3, pn2, pn4}
4  pn4  pn2  {pn1, pn3, pn2, pn4}
5  pn5  pn6       {pn6, pn7, pn5}
6  pn6  pn5       {pn6, pn7, pn5}
7  pn5  pn7       {pn6, pn7, pn5}

In [7]:
df['related_pn'] = df['related_pn'].apply(lambda x: list(x))
df

   rpn  ipn            related_pn
0  pn1  pn2  [pn1, pn3, pn2, pn4]
1  pn2  pn3  [pn1, pn3, pn2, pn4]
2  pn3  pn1  [pn1, pn3, pn2, pn4]
3  pn1  pn4  [pn1, pn3, pn2, pn4]
4  pn4  pn2  [pn1, pn3, pn2, pn4]
5  pn5  pn6       [pn6, pn7, pn5]
6  pn6  pn5       [pn6, pn7, pn5]
7  pn5  pn7       [pn6, pn7, pn5]

In [8]:
from random import randint

In [27]:
d = {}
l = []
for i in range(1, 70000):
    integer = randint(1000, 9999)
    l.append(integer)
d['a'] = l
d['b'] = l[::-1]

In [28]:
df = pd.DataFrame(d)

In [29]:
# df.to_csv('abc.csv')
l = {}
def for_loop(ll):
    for i in ll:
        l[i] = ll
def mapped(x):
    if x[0] in l.keys():
        ll = l[x[0]]
        ll.add(x[1])
        l[x[0]] = ll
        for_loop(ll)
    else:
        ll = {(x[0])}
        ll.add(x[1])
        l[x[0]] = ll
        for_loop(ll)
    if x[1] in l.keys():
        ll = l[x[1]]
        ll.add(x[0])
        l[x[1]] = ll
        for_loop(ll)
    else:
        ll = {(x[1])}
        ll.add(x[0])
        l[x[1]] = ll
        for_loop(ll)
    return ll
# df = pd.DataFrame(data=d, columns=['rpn', 'ipn'])
df['related_pn'] = df.apply(mapped, axis=1)
df

          a     b                                         related_pn
0      9260  2513                           {2513, 9260, 6102, 1055}
1      1728  7881                                 {1728, 7881, 9474}
2      6573  1895  {2562, 2052, 2056, 9752, 5146, 2589, 7714, 515...
3      1676  4748                                 {4748, 7250, 1676}
4      4717  5636                                       {5636, 4717}
5      4116  4552               {4321, 4552, 3308, 5518, 4116, 1785}
6      9989  9882                                       {9882, 9989}
7      3456  1550  {3456, 9441, 7778, 3781, 9899, 1550, 1616, 481...
8      4667  9900                                 {4667, 9900, 7975}
9      9997  4234                           {4234, 9997, 3430, 4807}
10     6945  2345  {5640, 3081, 8714, 5131, 2060, 3594, 7184, 258...
11     3734  1441                           {1441, 8699, 8972, 3734}
12     6071  8401               {8032, 6368, 8401, 7093, 6071, 3288}
13     5427  8595                                       {5427, 8595}
14     5448  6197  {6657, 7179, 9232, 7705, 1565, 1574, 5678, 619...
15     1120  2546                     {1120, 1121, 9924, 2546, 1439}
16     7733  3274                                       {3274, 7733}
17     1559  3725   {7461, 1833, 3725, 4594, 9588, 1559, 4760, 1849}
18     7499  6973  {6793, 7818, 2574, 5650, 6166, 9118, 6304, 285...
19     7585  5859                                       {7585, 5859}
20     5053  9912                                       {9912, 5053}
21     8603  4667  {2060, 4112, 4117, 8213, 8219, 8221, 2077, 413...
22     7991  2136  {4358, 7689, 8084, 1557, 4886, 8215, 4247, 655...
23     5293  4989                                       {5293, 4989}
24     8821  4845                                       {4845, 8821}
25     1020  4018  {8452, 4582, 7111, 7687, 9784, 9771, 1199, 747...
26     6234  8477  {7425, 3073, 8586, 9612, 2577, 8086, 3481, 271...
27     5346  1117                                       {5346, 1117}
28     3918  2926                     {2926, 3918, 6447, 6420, 4277}
29     5936  8889  {6278, 9862, 4492, 5907, 5526, 5657, 6937, 745...
...     ...   ...                                                ...
69969  8889  5936  {8194, 8202, 8205, 8206, 8217, 8225, 8231, 823...
69970  2926  3918  {1024, 5125, 1545, 7183, 5137, 1559, 5655, 770...
69971  1117  5346  {4100, 2055, 4104, 8205, 6161, 8210, 2069, 616...
69972  8477  6234  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69973  4018  1020  {2049, 8193, 8196, 2057, 2058, 8202, 4108, 615...
69974  4845  8821  {6656, 9216, 6664, 9741, 6670, 8213, 6169, 463...
69975  4989  5293  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69976  2136  7991  {6145, 4610, 1540, 6662, 4631, 8734, 4648, 567...
69977  4667  8603  {4096, 2049, 4109, 2067, 8212, 4117, 4119, 821...
69978  9912  5053  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69979  5859  7585  {6150, 8199, 2055, 2056, 6155, 2060, 6157, 411...
69980  6973  7499  {4099, 6149, 2055, 8200, 4105, 2058, 8203, 410...
69981  3725  1559  {2049, 8193, 8196, 2057, 2058, 8202, 4108, 615...
69982  3274  7733  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69983  2546  1120  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69984  6197  5448  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69985  8595  5427  {6146, 6152, 8200, 8203, 8206, 6165, 8216, 413...
69986  8401  6071  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69987  1441  3734  {2049, 2053, 8197, 8201, 4105, 6156, 2062, 411...
69988  2345  6945  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69989  4234  9997  {4099, 6149, 2055, 8200, 4105, 2058, 8203, 410...
69990  9900  4667  {6150, 8199, 2055, 2056, 6155, 2060, 6157, 411...
69991  1550  3456  {2049, 2053, 8197, 8201, 4105, 6156, 2062, 411...
69992  9882  9989  {2058, 8209, 6163, 2068, 8212, 6167, 2076, 412...
69993  4552  4116  {8192, 8194, 8197, 8200, 8201, 8206, 8208, 821...
69994  5636  4717  {5636, 7813, 3466, 1553, 6546, 7954, 1686, 181...
69995  4748  1676  {6657, 7179, 9232, 7705, 1565, 1574, 5678, 619...
69996  1895  6573  {2058, 8209, 6163, 2068, 8212, 6167, 2076, 412...
69997  7881  1728  {2051, 4101, 8198, 4102, 2054, 2059, 6166, 411...
69998  2513  9260  {4100, 2055, 4104, 8205, 6161, 8210, 2069, 616...

[69999 rows x 3 columns]

In [30]:
df.to_csv('abc.csv')